html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

 .root{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1fc8db;
    background-image: radial-gradient(#9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* color: #ffffff; */
    /* opacity: 0.95; */
 }

.content::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #9fb8ad;
}

.content::-webkit-scrollbar {
	width: 10px;
	background-color: #9fb8ad;
}

.content::-webkit-scrollbar-thumb {
	background-color: #1fc8db;
	/*border: 2px solid #555555;*/
}

.wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    font-family: calibri;
    border-radius: 15px;
    
}

.hide{
	display: none;
}

.slide-left{
	left: -100% !important;
	transition: 0.5s;
}

.slide-center{
	left: 0 !important;
	transition: 0.5s;
}

.slide-right{
	left: 100% !important;
	transition: 0.5s;
}

.delay-hide{
	transition-delay: 0.5s;
	transition: 0.5s;
	visibility: hidden;
}

.header {
	position: absolute;
    width: 100%;
    height: 70px;
    background-color: #30b1cf;
    background-image: linear-gradient(141deg, #21a1c5 0%, #3fc1d9 100%);
}

.content {
	position: absolute;
    width: 100%;
    top: 70px;
    bottom: 30px;
    background-color: #f9fcff;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer {
	position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #30b1cf;
	color: white;
	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.icon {
	width: 30px;
	height: 30px;
	background-size: cover;
}

.add-btn{
	margin: 20px;
	right: 0;
    position: absolute;
}

.home-btn{
	margin: 20px;
    position: absolute;
}

.delete-btn{
	background-image: url(../img/delete.png);
    margin-top: 15px;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.delete-btn:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.edit-btn{
	background-image: url(../img/edit.png);
    margin-top: 15px;
    margin-right: 65px;
    position: absolute;
    right: 0;
}

.edit-btn:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.icon-plus {
	background-image: url('../img/add.png');
}

.icon-back{
	background-image: url('../img/back.png');
}

.icon-search {
	background-image: url('../img/search.png');
	margin-top: 10px;
	margin-right: 10px;
}

.fade-out{
	opacity: 0;
	transition: 1s;
}

.fade-in{
	opacity: 1;
	transition: 1s;
}

.fullscreen-btn{
	position: absolute;
    right: 5px;
    width: 25px;
    height: 25px;
    top: 3px;
}

.icon-home {
	background-image: url('../img/home.png');
}

.icon-fullscreen {
	background-image: url('../img/fullscreen.png');
}

.back-btn{
	position: absolute;
	left: 0;
}

.head-container{
	position: absolute;
    margin-top: 20px;
    left: 20px;
    right: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

.nav-txt{
	position: absolute;
    width: 100%;
    margin-top: 8px;
    color: white;
    margin-left: 5px;
}

.txt{
	outline: none;
}

.search-txt {
    height: 30px;
    width: 100%;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(48,48,48, 0.29);
    color: #ffffff;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 12px;
    border-radius: 15px;
}

.search-txt::placeholder{
	color: rgba(225, 225, 225, 0.87);
}

.search-txt::-ms-placeholder{
	color: rgba(225, 225, 225, 0.87);
}

.detail-txt{
	width: calc(100% - 25px);
    /* margin: 20px; */
    height: 40px;
    font-size: 23px;
    padding-left: 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
}

.contact-detail{
	padding: 0 50px 0 50px;
}

.txt{
	font-family: 'Open Sans', sans-serif;
}

.title-txt{
	position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    color: white;
}

.count-txt{
	position: absolute;
    /* margin-top: 6px; */
    margin-left: 15px;
    line-height: 30px;
}

.search-input {
	position: absolute;
	left: 50px;
	right: 48px;
}

.search-text:focus {
	outline: none;
}

.search-text::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.button {
	cursor: pointer;
}

.contacts-container{
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    width:100%;
}

.details-container{
    position: absolute;
    top: 0;
	bottom: 0;
	left: 100%;
    width:100%;
}

.contact {
	height: 80px;
	border-bottom: 0.2px solid rgba(0, 0, 0, 0.4);
	padding-top: 10px;
	box-sizing: border-box;
	padding-left: 10px;
	border-radius: 3px;
}

.contact-item{
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #ededed;
}

.contact-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.details {
	margin-top: 5px;
    margin-left: 20px;
}

.name {
	font-size: 20px;
    line-height: 30px;
    color: #74adb1;
}

.phone {
	line-height: 30px;
    font-size: 25px;
    color: #8c8c8c;
}

.noclick {
	pointer-events: none;
}

.light-box {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal-wrapper {
	width: 80%;
	height: 280px;
	background-color: aquamarine;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
}

.close-btn {
	background-image: url(../img/close.png);
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	background-size: cover;
}

.modal-header {
	width: 100%;
	height: 40px;
	background-color: #529aff;
}

.modal-body {
	    background-color: white;
    width: 100%;
    height: 240px;
    padding-top: 25px;
    padding-left: 35px;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 35px;
}

.modal-heading-text {
	color: white;
	margin-left: 10px;
	float: left;
	line-height: 40px;
	font-size: 18px;
}

.profile {
	display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    object-position: top;
}

.profile-pic{
	width: 120px;
    height: 120px;
    background-color: #eaeaea;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

.button-wrapper{
    margin-top: 50px;
}

.action-btn{
	width: 150px;
    font-size: 26px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
	color: white;
	transition: 0.5s;
}

.action-container{
	display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.primary{
	background-color: #337ab7;
}

.success{
	background-color: #5cb85c;
}

.danger{
	background-color: #d9534f;
}

.warning{
	background-color: #f0ad4e;
}

.action-btn:hover{
	opacity: 0.8;
	transition: 0.5s;
}


/* Customize the label (the container) */
.radio-container {
	display: block;
    position: relative;
    /* padding-left: 0px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Hide the browser's default checkbox */
  .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
    top: 0;
    left: 7px;
    height: 65px;
    width: 65px;
    background-color: #eee;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .icon-male{
	background-image: url(../img/male.png);
  }

  .icon-female{
	background-image: url(../img/female.png);
  }
.icon-other{
	background-image: url(../img/other.png);
}
  
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .radio-container input:checked ~ .icon-female {
	background-color: rgba(255, 23, 68, 0.25);
  }

  .radio-container input:checked ~ .icon-male {
	background-color: rgba(33, 150, 240, 0.25);
  }
  
  .radio-container input:checked ~ .icon-other {
	background-color: rgba(136, 39, 176, 0.25);
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .radio-container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .radio-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  .radio-container .icon-male.checkmark:after{
	border-color: #2196f0;
  }

  .radio-container .icon-female.checkmark:after{
	border-color: #ff1744;
  }

  .radio-container .icon-other.checkmark:after{
	border-color: #8827b0;
  }

  .radio-container p{
    margin-top: 70px;
    text-align: center;
    font-size: 16px;
  }

  .gender-container{
	display: flex;
    justify-content: center;
    margin-top: 20px;
  }


.disable{
	opacity: 0.5;
	pointer-events: none;
}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.wrapper {
		width: 100%;
		height: calc(100% - 100px);
		max-width: 480px;
		transform: translateX(-50%);
		left: 50%;
		top: 50px;
		-webkit-box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 5px 20px 7px rgba(0,0,0,0.35);
	}
	.header {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	.footer {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

@media only screen and (max-width: 430px){
	.modal-add-btn{
		width: 90px;
		height: 30px;
		line-height: 28px;
		font-size: 18px;
	}

	.modal-cancel-btn{
		width: 90px;
		height: 30px;
		line-height: 28px;
		font-size: 18px;
	}

	.modal-delete-btn{
		width: 90px;
		height: 30px;
		line-height: 28px;
		font-size: 18px;
	}
}

.hide{
	display: none;
}