<div class="confirm modal">
    <div class="modal-header">
        <p class="modal-title">Confirm</p>
        <div class="modal-close button icon icon-close" (click)="contactService.hideConfirm('close')"></div>
    </div>
    <div class="modal-body">
        <p class="msg-txt">{{this.contactService.confirmMsg}}</p>
        <div class="modal-action">
            <div class="action-btn primary button" (click)="contactService.hideConfirm('no')">No</div>
            <div class="action-btn warning button" (click)="contactService.hideConfirm('yes')">Yes</div>
        </div>
    </div>
</div>
