<div class="confirm modal" id="confirm_modal">
    <div class="modal-header">
        <p class="modal-title" id="confirm_title">Confirm</p>
        <div class="modal-close button icon icon-close" id="confirm_close"></div>
    </div>
    <div class="modal-body">
        <p class="msg-txt" id="confirm_txt">Are you sure you want to delete the contact?</p>
        <div class="modal-action">
            <div class="action-btn primary button" id="confirm_no">No</div>
            <div class="action-btn warning button" id="confirm_yes">Yes</div>
        </div>
    </div>
</div>
