/*
 *  STYLE 4
 */

.content::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb {
	background-color: #529aff;
	/*border: 2px solid #555555;*/
}

.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	max-width: 480px;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	font-family: calibri;
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #529aff;
}

.content {
	position: fixed;
	width: 100%;
	top: 50px;
	bottom: 30px;
	background-color: #f9fcff;
	overflow-y: auto;
	overflow-x: none;
}

.footer {
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
	background-color: #529aff;
	color: white;
	padding-top: 7px;
	box-sizing: border-box;
	padding-left: 10px;
}

.icon {
	width: 30px;
	height: 30px;
	background-size: cover;
}

.profile-icon {
	background-image: url('../img/profile.png');
	width: 60px;
	height: 60px;
	background-size: cover;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50%;
	float: left;
}

.delete-btn{
	background-image: url(../img/delete.png);
    margin-top: 15px;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.delete-btn:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.edit-btn{
	background-image: url(../img/edit.png);
    margin-top: 15px;
    margin-right: 65px;
    position: absolute;
    right: 0;
}

.edit-btn:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.icon-plus {
	background-image: url('../img/add.png');
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.icon-search {
	background-image: url('../img/search.png');
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.icon-home {
	background-image: url('../img/home.png');
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.search-text {
	margin-top: 10px;
	height: 30px;
	width: 100%;
	border-bottom: 0px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	color: white;
	font-size: 20px;
	text-align: center;
}

.search-input {
	position: absolute;
	left: 50px;
	right: 48px;
}

.search-text:focus {
	outline: none;
}

.search-text::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.btn {
	cursor: pointer;
}

.item-wrapper {
	height: 80px;
	border-bottom: 0.2px solid rgba(0, 0, 0, 0.4);
	padding-top: 10px;
	box-sizing: border-box;
	padding-left: 10px;
	border-radius: 3px;
}

.item-wrapper:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: none;
}

.details {
	float: left;
	/* background-color: lightgoldenrodyellow; */
	margin-top: 6px;
	margin-left: 20px;
}

.name {
	font-size: 26px;
	line-height: 30px;
}

.number {
	font-size: 15px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.68);
}

.noclick {
	pointer-events: none;
}

.light-box {
	background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.modal-wrapper {
	width: 80%;
	height: 280px;
	background-color: aquamarine;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
}

.close-btn {
	background-image: url(../img/close.png);
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	background-size: cover;
}

.modal-header {
	width: 100%;
	height: 40px;
	background-color: #529aff;
}

.modal-body {
	    background-color: white;
    width: 100%;
    height: 240px;
    padding-top: 25px;
    padding-left: 35px;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 35px;
}

.modal-heading-text {
	color: white;
	margin-left: 10px;
	float: left;
	line-height: 40px;
	font-size: 18px;
}

.profile-image {
	background-image: url(../img/profile.png);
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    float: left;
}

.modal-details {
        padding-left: 100px;
    width: 100%;
    box-sizing: border-box;
}

.modal-text-container {
    width: 100%;
    box-sizing: border-box;
}

.modal-text {
	margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
	line-height: 23px;
	width: 100%;
}

.modal-text::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.modal-text:focus {
	outline: none;
}

.button-wrapper{
    margin-top: 50px;
}

.modal-add-btn{
	width: 130px;
    height: 50px;
    background-color: #5cb85c;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    float: left;
}


.modal-edit-btn{
	width: 130px;
    height: 50px;
    background-color: #eb9316;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    float: left;
}

.modal-delete-btn{
	width: 130px;
    height: 50px;
    background-color: #c12e2a;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    float: left;
}

.modal-cancel-btn{
	width: 130px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 5px;
    color: black;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    float: right;
}

.modal-info{
	    font-size: 24px;
	text-align: center;
}


.disable{
	opacity: 0.5;
	pointer-events: none;
}

@media only screen and (min-width: 500px) {
	.wrapper {
		height: 80%;
	}
	.header {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.footer {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

@media only screen and (max-width: 430px){
	.modal-add-btn{
		width: 90px;
		height: 30px;
		line-height: 28px;
		font-size: 18px;
	}

	.modal-cancel-btn{
		width: 90px;
		height: 30px;
		line-height: 28px;
		font-size: 18px;
	}

	.modal-delete-btn{
		width: 90px;
		height: 30px;
		line-height: 28px;
		font-size: 18px;
	}
}

.hide{
	display: none;
}