<div class="alert modal" id="alert_modal">
    <div class="modal-header">
        <p class="modal-title" id="alert_title">Info</p>
        <div class="modal-close button icon icon-close" (click)="contactService.hideAlert()"></div>
    </div>
    <div class="modal-body">
        <p class="msg-txt">{{this.contactService.alertMsg}}</p>
        <div class="modal-action">
            <div class="action-btn primary button" (click)="contactService.hideAlert()">OK</div>
        </div>
    </div>
</div>
