:host{
    display: flex;
    justify-content: space-between;
    height: 30px;
    border: 1px solid black;
}

.add-btn{
    background-image: url(../../assets/icons8-plus-30.png);
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}