<app-search class="head-container" [ngClass]="contactService.showDetails ? 'fade-out delay-hide':'fade-in'"></app-search>
<app-nav class="head-container" [ngClass]="contactService.showDetails ? 'fade-in':'fade-out delay-hide'"></app-nav>
<a class="button home-btn icon icon-home" href="/" [ngClass]="contactService.showDetails ? 'fade-out delay-hide':'fade-in'"></a>
<div class="button add-btn icon icon-plus" [ngClass]="contactService.showDetails ? 'fade-out delay-hide':'fade-in'" (click)="add()"></div>
