<div class="profile-container">
            <input type="file" name="file" id="file" accept="image/png, image/jpeg" [(ngModel)]="contactService.currentContact.profile">
            <label for="file" class="profile-select">
                <img class="profile-pic" src="../../../profiles/dummy.png" id="profile_pic">
            </label>
</div>
<div class="contact-detail">
    <input type="text" class="txt detail-txt" #contact_name placeholder="Enter name" (keydown)="checkData()" [(ngModel)]="contactService.currentContact.name" oninput="this.value = this.value.replace(/[^a-z A-Z.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="20/">
    <input type="text" class="txt detail-txt" #contact_phone placeholder="Enter phone" [(ngModel)]="contactService.currentContact.phone" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="10/">

    <div class="gender-container" #contact_gender>
        <label class="radio-container">
            <p>Male</p>
            <input type="radio" name="gender" value="male" [(ngModel)]="contactService.currentContact.gender">
            <div class="checkmark icon-male"></div>
        </label>

        <label class="radio-container">
            <p>Female</p>
            <input type="radio" name="gender" value="female" [(ngModel)]="contactService.currentContact.gender">
            <div class="checkmark icon-female"></div>
        </label>

        <label class="radio-container">
            <p>Other</p>
            <input type="radio" name="gender" value="other" [(ngModel)]="contactService.currentContact.gender">
            <div class="checkmark icon-other"></div>
        </label>
    </div>
    <div class="action-container add" [ngClass]="contactService.edit ? 'hide':''">
        <div class="button action-btn primary" (click)="create()">Create</div>
    </div>

    <div class="action-container edit" [ngClass]="!contactService.edit ? 'hide':''">
            <div class="button action-btn danger" id="delete_btn">Delete</div>
            <div class="button action-btn warning" id="update_btn">Update</div>
        </div>
</div>