:host{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.profile-container{
	margin-top: 10px;
    margin-bottom: 10px;
}

#file {
    opacity: 0;
    visibility: hidden;
}

.profile-pic{
	width: 120px;
    height: 120px;
    background-color: #eaeaea;
    border-radius: 50%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: block;
    object-fit: cover;
    object-position: center;
    /* margin-top: 35px; */
    /* margin-bottom: 20px; */
}

.profile {
	display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    object-position: top;
}

.contact-detail{
	padding: 0 50px 0 50px;
}

.detail-txt {
    width: calc(100% - 25px);
    /* margin: 20px; */
    height: 40px;
    font-size: 23px;
    padding-left: 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
}

.profile-select {
    width: 120px;
    height: 120px;
    /* background-color: aqua; */
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}


/* Customize the label (the container) */
.radio-container {
	display: block;
    position: relative;
    /* padding-left: 0px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Hide the browser's default checkbox */
  .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
    top: 0;
    left: 7px;
    height: 65px;
    width: 65px;
    background-color: #eee;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 10px;
  }



.action-container.edit{
	display: flex;
    margin-top: 50px;
    justify-content: space-between;
    /* position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0; */
}

.action-container.add{
	display: flex;
    margin-top: 50px;
    justify-content: center;
    /* position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0; */
}


  
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .radio-container input:checked ~ .icon-female {
	background-color: rgba(255, 23, 68, 0.25);
  }

  .radio-container input:checked ~ .icon-male {
	background-color: rgba(33, 150, 240, 0.25);
  }
  
  .radio-container input:checked ~ .icon-other {
	background-color: rgba(136, 39, 176, 0.25);
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .radio-container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .radio-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  .radio-container .icon-male.checkmark:after{
	border-color: #2196f0;
  }

  .radio-container .icon-female.checkmark:after{
	border-color: #ff1744;
  }

  .radio-container .icon-other.checkmark:after{
	border-color: #8827b0;
  }

  .radio-container p{
    margin-top: 70px;
    text-align: center;
    font-size: 16px;
  }

  .gender-container{
	display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  